*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color:black;
}

.title1{
    display: block;
    height: 50px;
    font-family: Segoe UI;
    text-transform: uppercase;
    font-weight: bold;
    font-size:larger;
    background-color: #91dbff;
    border-radius: 30px;
    display: grid;
    place-items: center;
}

html{
    display: flex;
    align-items: center;
}
body{
    width: 1442.40px;
    height: 708px;
    background-image: url(../Source/background_full.jpg);
    background-position: bottom right;
    display: grid;
    /* position: fixed; */
    grid-template-columns: 1.5fr 8fr;
    grid-template-rows: 3fr 7fr;
    grid-template-areas:
    "header header"
    "sidebar content";
}

#header{
    grid-area: header;
    display: grid;
    grid-template-columns: 141.6px auto 141.6px;
    grid-template-rows: 2fr 1fr;
    place-items: center;
    background-image: url(../Source/background_header.jpg);
    background-size: cover;
    background-position: center;
}

#avatar_1{
    display: grid;
    grid-column: 1/1;
    grid-row: 1/3;
    margin-left: 200px;
}

#avatar_2{
    display: grid;
    grid-column: 3/3;
    grid-row: 1/3;
    margin-right: 200px;
}

#big_title{
    grid-column: 2;
    grid-row: 1;
}

#name{
    grid-column: 2;
    grid-row: 2;
}

#header img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

#sidebar{
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: repeat(5, minmax(100px, 1fr)) 2fr; */
    place-items: center;
    position: sticky;
    left:0px;
}

#sidebar a{
    background-color: #a6f4ba;
    padding: 10px;
    border-radius: 50px;
    width: 60%;
    text-align: center;
}

#content{
    grid-area: content;
    overflow: scroll;
    display: grid;
    padding-top: 30px;
    overflow-x: hidden;
}

#socialnetwork a img{
    width: 19.5%;
    padding: 20px;
}
